
<app-page-header-auth></app-page-header-auth>


<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-md-3">
      <div><strong>Name:</strong> {{userInfo?.firstName}} {{userInfo?.lastName}}</div>
      <div><strong>Email:</strong> {{userInfo?.email}}</div>
      <div><strong>ID:</strong> {{userInfo?.userId}}</div>
      <div><strong>Status:</strong> {{userStatus}}</div>
      <div><button (click)="mockLogout()" type="button" class="btn btn-secondary">Logout</button></div>
    </div>
  </div>


  <app-left-list>

  </app-left-list>


</div>



<div class="jumbotron text-center" style="margin-top:10;margin-bottom:10">
  <p>Footer</p>
</div>
